@model IEnumerable<WareHouse.Models.SaleOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaleOrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleOrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaleOrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleOrderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaleOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaleOrderID })
        </td>
    </tr>
}

</table>
